window#waybar {
    background-color: transparent;
    border: none;
}

#custom-keyboard,
#clock,
#network,
#pulseaudio,
#backlight,
#bluetooth {
    background-color: #11111b;
    color: #89dceb;
    border-radius: 50px;
    padding: 0px 15px;
    margin: 6px 4px;
    font-size: 13px;
    font-weight: 600;
    border: 1px solid rgba(137, 220, 235, 0.1);
}

#clock {
    color: #f5e0dc;
    padding: 0px 20px;
}
